body {
    font-family: sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    background-color: #1f2937;
    padding: 25px 400px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0px;
}

h2 {
    font-size: 24px;
    color: #f9faf8;
    margin: 0px;
}

h3 {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
    margin: 0px;
}

li, p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0px;
}

img {
    width: 500px;
    height: auto;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px;
}

.intro-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 450px;
}

.intro-signup-button {
    background-color: #3882f6;
    width: 115px;
    text-align: center;
    padding: 8px;
    border-radius: 7px;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin: 40px 0px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box div {
    border: #3882f6 5px solid;
    border-radius: 20px;
    width: 175px;
    height: 175px;
    margin-bottom: 10px;
}

.box p {
    color: #1f2937;
    width: 200px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 800px;
}

.quotee {
    color: black;
    font-size: 24px;
    text-align: right;
    font-weight: 800;
}

.full-quote {
    margin: 100px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box {
    background-color: #3882f6;
    border-radius: 6px;
    width: 1000px;
    height: 125px;
    margin: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup-button-end {
    border: 2px #e5e7eb solid;
    border-radius: 8px;
    padding: 5px 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 40px 0px;
}